token: foo-bar
log_level: -4
orders:
  - item:
      code: copper_dagger
      quantity: 50
    concurrency: 5
  - item:
      code: wooden_staff
      quantity: 50
    concurrency: 5
  - item:
      code: copper_helmet
      quantity: 50
    concurrency: 5
  - item:
      code: copper_boots
      quantity: 50
    concurrency: 5
  - item:
      code: copper_ring
      quantity: 50
    concurrency: 5
  - item:
      code: wooden_shield
      quantity: 50
    concurrency: 5
characters:
  - name: Milnor
    actions:
      - forage
      - refine
  - name: Bilnor
    actions:
      - forage
      - refine
  - name: Wilnor
    actions:
      - forage
      - refine
  - name: Jilnor
    actions:
      - forage
      - refine
  - name: Vilnor
    actions:
      - forage
      - refine
